<!DOCTYPE html>
<html>



<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>


<link rel="stylesheet"
    href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
<script
    src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>


<body ng-app="admin" ng-controller="adminController" background="img/core-img/adminn.jpeg" >

	<script>


		var app = angular.module("admin", [ 'ngTagsInput','ui.materialize' ]);
		app
				.controller(
						"adminController",
						function($scope, $http, $window,$timeout) {

							// image code

							$timeout(function() {
								  $('select').formSelect();
							}, 10);

							$scope.imageSrc = "";
							$scope.loginShow = true;

							$scope.$on("fileProgress", function(e, progress) {
								$scope.progress = progress.loaded
										/ progress.total
							});

							// login
							$scope.login = function(argument) {
								var data = {

									userName : $scope.userName,
									password : $scope.password

								};

								$http
										.post("/login", data)
										.success(
												function(res) {
													//console.log(res);

													if (res == true) {

														$scope.loginShow = false;
														$scope.menuButtons = true;

													} else {
														$scope.message = "Oops! Username or Password is wrong. ";
													}

												}).error(function(err) {
											console.log(err)
										});

							}
							// functions For Display buttons

							$scope.specialImages = function() {
								$scope.message = "";
								$scope.indexPageShow = true;
								$scope.allImages = false;
								$scope.blog = false;
								$scope.contact = false;
								reset();

							};

							$scope.allImagesFun = function() {

								$scope.message = "";
								$scope.indexPageShow = false;
								$scope.allImages = true;
								$scope.blog = false;
								$scope.contact = false;

								reset();

							};
							$scope.blogFun = function() {
								$scope.message = "";
								$scope.indexPageShow = false;
								$scope.allImages = false;
								$scope.blog = true;
								$scope.contact = false;
								reset();

							};
							$scope.contactFun = function() {
								$scope.message = "";
								$scope.indexPageShow = false;
								$scope.allImages = false;
								$scope.blog = false;
								$scope.contact = true;
								reset();

								$http
										.get("/getContactDb")
										.success(
												function(res) {
													console.log(res);

													if (res.body !== []) {

														$scope.data = res.body;

													} else {
														$scope.message = "Oops! no records are found. ";
													}

												}).error(function(err) {
											console.log(err)
										});

							};

							$scope.tagsData = [];
							var data;

							$scope.addTag = function() {
								$scope.tagsData.push($scope.tags);
							}
							$scope.addItem = function() {
								// home page only special Items.

								 data = {

									title : $scope.titleData,
									discription : $scope.discription,
									tags : $scope.tagsData,
									type : "specialImages"

								};
								var fd = new FormData();
								console.log(fd.append('image',  $scope.specialpic));
								imageUpload(fd);
							};
							 $scope.select = {
                                               value: "Chose your Choice",
                                               choices: ["Nature", "Landscape", "Travel", "Wildlife","Macro","portraits","Lifestyle"]
                                              };

                              $scope.Onchange = function(val){

                                        $scope.typeOfImage = val;
                                         console.log(  $scope.typeOfImage);
                                   }
							$scope.addAllImage = function() {

								 data = {

									title : $scope.titleData,
									discription : $scope.discription,
									tags : $scope.tagsData,
									type : "allImages",
									imageType:$scope.select.value
								}
								 var fd = new FormData();
									console.log(fd.append('image',  $scope.allImages));
									imageUpload(fd);


							};
							$scope.addBlog = function() {

								 data = {

									title : $scope.titleData,
									discription : $scope.discription,
									writenBy : $scope.writenBy,
									date : $scope.date,
									type : "blog"

								}
								 var fd = new FormData();
									console.log(fd.append('image',  $scope.blogPic));
									imageUpload(fd);
							};
							function imageUpload(fd) {

                          console.log("allImages", $scope.allTitels)


                                     var a = $scope.allTitels.lastIndexOf($scope.titleData);
                                            console.log(a);



                              if(!(a === -1 )){
                                    $scope.message =" Image & title already exits in database."
                              }else{

								$http.post("/upload", fd, {
									transformRequest : angular.identity,
									headers : {
										'Content-Type' : undefined
									}
								}).success(function(res) {
									console.log('upload res', res);
									if (res === "Created") {
										sendDataTODb(data);
									} else {
										//$scope.message = "Oops.! somthing went wrong refresh. try again.";
									}
								}).error(function(err) {
									console.log(err);
								});


							}
						}

							function sendDataTODb(data) {


                         console.log(data);

								$http
										.post("/sendToDB", data)
										.success(
												function(res) {
													//console.log(res);

													if (res.statusCode == 201) {
														$scope.message = res.statusMessage;

														reset();
													} else {
														$scope.message = "Oops! somthing went Wrong.";
													}

												}).error(function(err) {
											console.log(err)
										});


							};
							titelDataValidation() ;
					function titelDataValidation() {



						 $scope.allTitels=[];

						$http.get('/getAllRecords').success(function(res) {
							for (var i =0;i<res.body.length;i++){
								//console.log("One",res.body[i].textFeild.title);
                                 $scope.allTitels.push(res.body[i].textFeild.title);
							}


						}).error(function(err) {

						});
						$http.get('/allImagesDb').success(function(res) {

                                           for (var i =0;i<res.body.length;i++){
								//console.log("One",res.body[i].textFeild.title);
                                 $scope.allTitels.push(res.body[i].textFeild.title);
							}

						}).error(function(err) {

						});
						$http.get('/getBlogDb').success(function(res) {
							 for (var i =0;i<res.body.length;i++){
								//console.log("One",res.body[i].textFeild.title);
                                 $scope.allTitels.push(res.body[i].textFeild.title);
							}

					//console.log("allImages", $scope.allTitels)

						}).error(function(err) {

						});

					};

							function reset() {
								$scope.titleData = "";
								$scope.discription = "";
								$scope.tags = "";
								$scope.altKeyWords = "";
								$scope.imageSrc = "";

							};
							$scope.onSelect = function() {
								// on change the removing the error message.
								$scope.message = "";

							};
							// send email
							$scope.sendReply = function(id) {
								for (var i = 0; i < $scope.data.length; i++) {
									if ($scope.data[i]._id == id) {
										console.log($scope.data[i].email);
										var url = 'https://mail.google.com/mail/u/0/?view=cm&fs=1&to='
												+ $scope.data[i].email
												+ '&su=SUBJECT&body=BODY&tf=1';
										$window.open(url);
									}
								}
							};

        $scope.Onchange = function(val){
            console.log(val);
        };
          // manage all data
					   $scope.ManageData = function (){

							 $http.get('/getAllDataForDelete').success(function(res) {

						 }).error(function(){

						 });
					 };
						}).directive('fileModel',
								[ '$parse', function($parse) {
									return {
										restrict : 'A',
										link : function(scope, element, attrs) {
											var model = $parse(attrs.fileModel);
											var modelSetter = model.assign;

											element.bind('change', function() {
												scope.$apply(function() {
													modelSetter(scope, element[0].files[0]);
												});
											});
										}
									};
								} ]);


	</script>

	<div class="container">
		<span style="color: red"> {{message}}</span><br>

		<div ng-show="loginShow">
			<h2>Login</h2>
			<form ng-submit="login()">
				<div class="form-group">
					<label for="text">Username</label> <input type="text"
						class="form-control" ng-model="userName" ng-chagne="onSelect()"
						required>
				</div>
				<div class="form-group">
					<label for="text">Password</label> <input type="password"
						class="form-control" ng-model="password" ng-change="onSelect()"
						required>
				</div>

				<button type="submit" class="btn btn-default">Login</button>
			</form>

		</div>
	</div>

	<div class="container" align="center" ng-show="menuButtons">
	<div class="row">
		<div class="input-field col s2">
		    <button type="button" ng-click="specialImages()" class="waves-effect waves-light btn">Home</button>
		</div>
		<div class="input-field col s2">
		    <button type="button" ng-click="allImagesFun()" class="waves-effect waves-light btn">P.Folio</button>
		</div>
		<div class="input-field col s2">
		    <button type="button" ng-click="blogFun()" class="waves-effect waves-light btn">Blog</button>
		</div>
		<div class="input-field col s2">
		    <button type="button" ng-click="contactFun()" class="waves-effect waves-light btn">Contact</button>
    </div>
		<div class="input-field col s2">
			<a href="mange.html"><button type="button"  class="waves-effect waves-light btn">Manage</button></a>
		</div>
	</div>

	<div ng-show="indexPageShow" class="container">
		<h2>Special Image</h2>
		<form ng-submit="addItem()" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="text">Title:<span style="color: red">*</span></label>
					<input type="text"
						ng-model="titleData" ng-chagne="onSelect()" required>
				</div>
			<!-- 	<div class="input-field col s6">
					<label for="text">Description:<span style="color: red">*</span></label> <input type="text"
						class="form-control" ng-model="discription">
				</div> -->
				<div class="input-field col s6" style="margin-top: 23px !important;">
					<label for="text">Tags:</label>
					<tags-input ng-model="tags"></tags-input>
					<button type="button" ng-click="addTag()">Add Tag</button>
				</div>
				<div class="input-field col s6">
					<div class="file-field input-field">
						<div class="btn waves-effect grey">
							<lable>Special Picture<span style="color: red">*</span></lable>
							<input name="myImage" type="file" file-model="specialpic"
								id="photo" required>
						</div>
						<!-- <div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>  -->
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>


	<div ng-show="allImages" class="container">
		<h2> Portfolio</h2>
		<form ng-submit="addAllImage()" class="col s12">

			<div class="row">
				  <div class=" input-field col s6">

                    <select ng-model="select.value" ng-change="Onchange(select.value)" material-select>
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>

            </div>
				<div class="input-field col s6" >
					<label for="text">Title:<span style="color: red">*</span></label>
					<input type="text"
						class="form-control" ng-model="titleData" ng-chagne="onSelect()" required>
				</div>
				<div class="input-field col s6">
					<label for="text">Description:<span style="color: red">*</span></label> <input type="text"
						class="form-control" ng-model="discription">
				</div>
				<div class="input-field col s6" >
					<label for="text">Tags:</label>
					<tags-input ng-model="tags"></tags-input>
					<button type="button" ng-click="addTag()">Add Tag</button>
				</div>
				<div class="input-field col s6" style="margin-top: -5px !important;">
					<div class="file-field input-field">
						<div class="btn waves-effect grey">
							<lable> Image<span style="color: red;">*</span></lable>
							<input name="myImage" type="file" file-model="allImages"
								id="photo" required>
						</div>
					<!-- 	<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div> -->
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<!-- Blog -->

	<div ng-show="blog" class="container">
		<h2> Blog</h2>
		<form ng-submit="addBlog()" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="text">Title:<span style="color: red">*</span></label> <input type="text"
						class="form-control" ng-model="titleData" ng-chagne="onSelect()" required>
				</div>
				<div class="input-field col s6">
					<label for="text">Description:<span style="color: red">*</span></label> <input type="text"
						class="form-control" ng-model="discription"  required>
				</div>
				<div class="input-field col s6">
					<div class="file-field input-field">
						<div class="btn waves-effect grey">
							<lable>Blog Picture <span style="color: red">*</span></lable>
							<input name="myImage" type="file" file-model="blogPic" id="photo"
								required>
						</div>
						<!-- <div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div> -->
					</div>
				</div>
				<div class="input-field col s6">

					<input type="date" ng-model="date" requried>
				</div>
				<div class="input-field col s12">
					<label for="text"> Writen By:<span style="color: red">*</span></label> <input type="text"
						ng-model="writenBy" requried>
				</div>
			</div>

			<button type="submit" class="btn btn-danger">Submit</button>
		</form>
	</div>

	<!-- Display contact List  -->


	<div ng-show="contact" class="container">
		<h2>Contact List</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone</th>
					<th scope="col">Subject</th>
					<th scope="col">Message</th>
					<th scope="col">Answer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat=" x in data">
					<th scope="row">1</th>
					<td>{{x.name}}</td>
					<td>{{x.email}}</td>
					<td>{{x.phone}}</td>
					<td>{{x.subject}}</td>
					<td>{{x.message}}</td>
					<td><button type="button" ng-click="sendReply(x._id)">
							edit
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>
