

<!DOCTYPE html>
<html lang="en" ng-app="studio">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google seo verification tag -->
    <meta name="google-site-verification" content="" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
  <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>


     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 


      <!-- APP controllers -->
  <script src="/controllers/appcontroller.js"></script>
  <script src="/controllers/homepagecontroller.js"></script>
  <script src="/controllers/adminPage.js"></script>

    <!-- Title  -->
    <title>Studio - Creative Photography Template | ALL Images</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>
<style>
  img {
    cursor: zoom-in;
}
</style>

<body ng-controller = "AllImagePageController">

  
    
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content" style="margin-top: 150px;">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{displaydata.title}}</h4>
              <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <img src="{{displaydata.imageDes}}">
            </div>
            <div align="left">
              <h5 class="modal-title" style="padding: 5px 10px;">{{displaydata.discription}}</h5>
              
            </div>
          </div>
          
        </div>
      </div>
    <div class="welcome-area" style="margin: 15px;">
        <div class="row">
            <div  ng-repeat="x in imagePath track by $index" class="col-md-4">
              <img style="width:100%; height:auto;margin-top: 5px;" class="img-thumbnail" src="{{x.imageDes}}" data-toggle="modal" data-target="#myModal" ng-click="onImageClick(x)">
            </div>
        </div>    
    </div>
                  <!-- <section class="welcome-area"  >
                <span ng-repeat="x in data track by $index"  >
                      
              
                      {{x.title}}<br>
                      {{x.discription}}<br>
                     <img style="width:60%;height: 80%; "src="{{x.image}}"  alt="{{x.tags}}" ng-mouseover="select($index)" /><br>           
                         
              </span>
               
        </section> -->
                
                       
</body>

<script>
  $(function() {
    	$('img').on('click', function() {
			$('.enlargeImageModalSource').attr('src', $(this).attr('src'));
			$('#enlargeImageModal').modal('show');
		});
});
</script>
</html>