<!DOCTYPE html>
<html lang="en" ng-app="studio">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Studio - Creative Photography Template | Portfolio</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
  <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>


     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


      <!-- APP controllers -->
  <script src="/controllers/appcontroller.js"></script>
  <script src="/controllers/homepagecontroller.js"></script>

</head>

<body ng-controller = "AllImagePageController">
    <!-- Preloader -->
    <div id="preloader">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
        </div>
    </div>

    <!-- Gradient Background Overlay -->
    <div class="gradient-background-overlay"></div>

    <!-- Header Area Start -->
    <header class="header-area bg-img" style="background-image: url(img/bg-img/14.jpg);">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 h-100">
                    <div class="main-menu h-100">
                        <nav class="navbar h-100 navbar-expand-lg">
                            <!-- Logo Area  -->
                            <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo"></a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                            <div class="collapse navbar-collapse" id="studioMenu">
                                <!-- Menu Area Start  -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                 <!--    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="index.html">Home</a>
                                            <a class="dropdown-item" href="about-me.html">About</a>
                                            <a class="dropdown-item" href="portfolio.html">Portfolio</a>
                                            <a class="dropdown-item" href="blog.html">Blog</a>
                                            <a class="dropdown-item" href="contact.html">Contact</a>
                                            <a class="dropdown-item" href="elements.html">Elements</a>
                                        </div>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-me.html">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="blog.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">contact</a>
                                    </li>
                                </ul>
                                <!-- Search Form -->
                              <!--   <div class="header-search-form ml-auto">
                                    <form action="#">
                                        <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                                        <input class="d-none" type="submit" value="submit">
                                    </form>
                                </div> -->
                                <!-- Search btn -->
                               <!--  <div id="searchbtn">
                                    <img src="img/core-img/search.png" alt="">
                                </div> -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Social Sidebar Area Start -->
   <div class="social-sidebar-area bg-white" >
            <!-- Social Area -->
            <div class="social-info-area">
                <a href="https://www.facebook.com/swethagraphylive/" target="_blank" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> <span>Facebook</span></a>
                <a href="https://twitter.com/SwethaGraphy" target="_blank" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a>
                <a href="https://www.instagram.com/swethagraphy/" target="_blank" data-toggle="tooltip" data-placement="right" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a>
                <a href="https://youtube.com/channel/UCQ_KGFVuAPZojMniJbBdRdQ" target="_blank" data-toggle="tooltip" data-placement="right" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i> <span>Youtube</span></a>
            </div>
            <!-- Message Box -->
            <div class="message-box">
               <a href="contact.html" ><img src="img/core-img/envelope.png" alt=""></a>
            </div>
        </div>
    <!-- Social Sidebar Area End -->

    <!-- Project Area Start -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content" style="margin-top: 50px;">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{displaydata.title}} </h4>
              <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <img src="{{displaydata.imageDes}}">
            </div>
            <div align="left">
              <h5 class="modal-title" style="padding: 5px 10px;">{{displaydata.discription}}</h5>

            </div>
          </div>

        </div>
      </div>
    <div class="gallery_area clearfix" style="height: 300px;">
        <div class="container-fluid clearfix" >
            <div class="gallery_menu">
                <div class="portfolio-menu">
                    <input class="active btn" type="button" value ="All" data-filter="*" ng-click="imageFilter(0)">
                    <input class="btn" type="button" value="Nature" ng-click="imageFilter(1)">
                    <input class="btn" type="button" value="Landscape" ng-click="imageFilter(2)">
                    <input class="btn" type="button" value="Travel" ng-click="imageFilter(3)">
                    <input class="btn" type="button" value="Wildlife" ng-click="imageFilter(4)">
                    <input class="btn" type="button" value="Macro" ng-click="imageFilter(5)">
                    <input class="btn" type="button" value="portraits" ng-click="imageFilter(5)">
                    <input class="btn" type="button" value="Lifestyle" ng-click="imageFilter(7)">

                </div>
            </div>

            <div class="row portfolio-column" style="margin-top: -30px;">

                <!-- Single Item -->
                <!--  -->
                <div class="row" ng-show="noSelection">
                    <div  ng-repeat="x in imagePath track by $index" class=" col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item {{x.imageType}}" >
                        <a style="display: none">{{x.imageType}}</a>
                      <img style="width:100%; height:auto;margin-top: 5px;" class="img-thumbnail" src="{{x.imageDes}}" data-toggle="modal" data-target="#myModal" ng-click="onImageClick(x)">
                    </div>
                </div>

                <div class="row" ng-show="onSelectionImageType">
                    <div  ng-repeat="x in typeSelection track by $index" class=" col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item {{x.imageType}}" >
                        <a style="display: none">{{x.imageType}}</a>
                      <img style="width:100%; height:auto;margin-top: 5px;" class="img-thumbnail" src="{{x.imageDes}}" data-toggle="modal" data-target="#myModal" ng-click="onImageClick(x)">
                    </div>
                </div>



            <!-- <div class="row">
                <div class="col-12 text-center mt-70">
                    <a href="#" class="btn studio-btn"><img src="img/core-img/logo-icon.png" alt=""> Load More</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
    <!-- Project Area End -->

    <!-- Footer Area Start -->

    <!-- Footer Area End -->

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
